// If you don't select a scheme, this is what you get!
a
  color: darken($theme-color, 15%)
  &:hover
    color: darken($theme-color, 30%)

.wrapper
  background: $theme-color

.sidebar-wrapper
  background: $theme-color

.main-wrapper
  .section-title
    color: darken($theme-color, 15%)

    .icon-holder
      background: darken($theme-color, 15%)

.skillset
  .theme-progress-bar
    background: lighten($theme-color, 10%)

// Pacific Blue (Scheme 1)
.scheme-pacificblue
  a
    color: darken($scheme-pacificblue, 15%)
    &:hover
      color: darken($scheme-pacificblue, 30%)

  &.wrapper
    background: $scheme-pacificblue

  .sidebar-wrapper
    background: $scheme-pacificblue

  .main-wrapper
    .section-title
      color: darken($scheme-pacificblue, 15%)

      .icon-holder
        background: darken($scheme-pacificblue, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-pacificblue, 10%)

.scheme-keppel
  a
    color: darken($scheme-keppel, 15%)
    &:hover
      color: darken($scheme-keppel, 30%)

  &.wrapper
    background: $scheme-keppel

  .sidebar-wrapper
    background: $scheme-keppel

  .main-wrapper
    .section-title
      color: darken($scheme-keppel, 15%)

      .icon-holder
        background: darken($scheme-keppel, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-keppel, 10%)

.scheme-seagreen
  a
    color: darken($scheme-seagreen, 15%)
    &:hover
      color: darken($scheme-seagreen, 30%)

  &.wrapper
    background: $scheme-seagreen

  .sidebar-wrapper
    background: $scheme-seagreen

  .main-wrapper
    .section-title
      color: darken($scheme-seagreen, 15%)

      .icon-holder
        background: darken($scheme-seagreen, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-seagreen, 10%)

.scheme-rose
  a
    color: darken($scheme-rose, 15%)
    &:hover
      color: darken($scheme-rose, 30%)

  &.wrapper
    background: $scheme-rose

  .sidebar-wrapper
    background: $scheme-rose

  .main-wrapper
    .section-title
      color: darken($scheme-rose, 15%)

      .icon-holder
        background: darken($scheme-rose, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-rose, 10%)

.scheme-saffron
  a
    color: darken($scheme-saffron, 15%)
    &:hover
      color: darken($scheme-saffron, 30%)

  &.wrapper
    background: $scheme-saffron

  .sidebar-wrapper
    background: $scheme-saffron

  .main-wrapper
    .section-title
      color: darken($scheme-saffron, 15%)

      .icon-holder
        background: darken($scheme-saffron, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-saffron, 10%)

.scheme-cadet
  a
    color: darken($scheme-cadet, 15%)
    &:hover
      color: darken($scheme-cadet, 30%)

  &.wrapper
    background: $scheme-cadet

  .sidebar-wrapper
    background: $scheme-cadet

  .main-wrapper
    .section-title
      color: darken($scheme-cadet, 15%)

      .icon-holder
        background: darken($scheme-cadet, 15%)

  .skillset
    .theme-progress-bar
      background: lighten($scheme-cadet, 10%)
