body
  background: $smoky-white
  color: $text-color-secondary

a
  color: darken($theme-color, 15%)
  &:hover
    color: darken($theme-color, 30%)

.wrapper
  background: $theme-color

.sidebar-wrapper
  background: $theme-color

.main-wrapper
  .section-title
    color: darken($theme-color, 15%)

    .icon-holder
      background: darken($theme-color, 15%)

  .job-title
    color: $text-color

  .time,
  .company
    color: $text-grey

.skillset
  .level-bar
    background: $smoky-white

  .theme-progress-bar
    background: lighten($theme-color, 10%)

.footer
  .copyright
    color: $text-color-secondary
