@import 'colors.styl'

// Anything below here does not deal with colors!
body
  background: $smoky-white
  color: $text-color-secondary
  font-family: 'Roboto', sans-serif
  font-size: 14px
  -webkit-font-smoothing: antialiased 
  -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4, h5, h6
  font-weight: 700

a
  &:hover
    text-decoration: underline
    transition: all 0.4s ease-in-out
  &:focus
    text-decoration: none

p
  line-height: 1.5

.wrapper
  max-width: 960px
  margin: 0 auto
  margin-top: 30px
  position: relative
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

.main-wrapper
  background: #ffffff
  padding: 60px
  padding-right: 300px

  .section-title
    text-transform: uppercase
    font-size: 20px
    font-weight: 500
    position: relative
    margin-top: 50px
    margin-bottom: 20px

    &:first-child
      margin-top: 0

    .icon-holder
      width: 30px
      height: 30px
      margin-right: 8px
      display: inline-block
      color: #ffffff
      border-radius: 50%
      text-align: center
      font-size: 16px
      position: relative
      top: -2px

      .fas, .fab, .svg-inline--fa
        font-size: 14px
        margin-top: 8px

  .section
    margin-bottom: 60px

  .experiences-section .item
    margin-bottom: 30px

  .upper-row
    position: relative
    overflow: hidden
    margin-bottom: 2px

  .job-title
    color: $text-color
    font-size: 16px
    font-weight: 500
    margin-top: 0
    margin-bottom: 0

  .time
    color: $text-grey
    position: absolute
    right: 0
    top: 0

  .company
    color: $text-grey
    margin-bottom: 10px

  .project-title
    font-size: 16px
    font-weight: 400
    margin-top: 0
    margin-bottom: 5px

  .projects-section
    .intro
      margin-bottom: 30px
    .item
      margin-bottom: 15px

@import 'sidebar.styl'

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  .main-wrapper
    padding: 30px

    .time
      position: static
      display: block
      margin-top: 5px

    .upper-row
      margin-bottom: 0
