// Base Theme Colors
$theme-color = #42A8C0
$text-color = #3F4650
$text-color-secondary = #545E6C
$text-grey = #97AAC3
$divider = #E8E8E8
$lighter-grey = #cccccc
$darker-grey = #666666
$smoky-white = #f5f5f5
$heart = #fb866a

// Different color schemes
$scheme-pacificblue = #42A8C0
$scheme-keppel = #4CAC9D
$scheme-seagreen = #5BB66F
$scheme-rose = #A15277
$scheme-saffron = #FDA246
$scheme-cadet = #4B6A78


